@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background-color: #0f172a;
    /* Slate 900 */
    color: #f8fafc;
    /* Slate 50 */
    overflow: hidden;
    /* Prevent scrolling */
}

/* Custom scrollbar for logs if needed */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #1e293b;
}

::-webkit-scrollbar-thumb {
    background: #475569;
    border-radius: 3px;
}